In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('ds_salaries.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

In [5]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           607 non-null    int64
 1   experience_level    607 non-null    object
 2   employment_type     607 non-null    object
 3   job_title           607 non-null    object
 4   salary              607 non-null    int64
 5   salary_currency     607 non-null    object
 6   salary_in_usd       607 non-null    int64
 7   employee_residence  607 non-null    object
 8   remote_ratio        607 non-null    int64
 9   company_location    607 non-null    object
 10  company_size        607 non-null    object
dtypes: int64(4), object(7)
memory usage: 52.3+ KB

Task 1:Job title nào có mức lương trung bình theo USD cao nhất
Hiện tại, vị trí về Data Analytics Lead đang có mức lương cao

In [9]:
job_salary_usd = df.groupby('job_title')['salary_in_usd'].mean()
job_salary_usd.sort_values(ascending=False, inplace=True)
job_salary_usd

job_title
Data Analytics Lead                         405000.000000
Principal Data Engineer                     328333.333333
Financial Data Analyst                      275000.000000
Principal Data Scientist                    215242.428571
Director of Data Science                    195074.000000
Data Architect                              177873.909091
Applied Data Scientist                      175655.000000
Analytics Engineer                          175000.000000
Data Specialist                             165000.000000
Head of Data                                160162.600000
Machine Learning Scientist                  158412.500000
Data Science Manager                        158328.500000
Director of Data Engineering                156738.000000
Head of Data Science                        146718.750000
Applied Machine Learning Scientist          142068.750000
Lead Data Engineer                          139724.500000
Data Analytics Manager                      127134.285714
Cloud Data Engineer                         124647.000000
Data Engineering Manager                    123227.200000
Principal Data Analyst                      122500.000000
ML Engineer                                 117504.000000
Machine Learning Manager                    117104.000000
Lead Data Scientist                         115190.000000
Data Engineer                               112725.000000
Research Scientist                          109019.500000
Data Scientist                              108187.832168
Computer Vision Software Engineer           105248.666667
Staff Data Scientist                        105000.000000
Machine Learning Engineer                   104880.146341
Machine Learning Infrastructure Engineer    101145.000000
Big Data Architect                           99703.000000
Data Analyst                                 92893.061856
Lead Data Analyst                            92203.000000
Marketing Data Analyst                       88654.000000
Lead Machine Learning Engineer               87932.000000
Machine Learning Developer                   85860.666667
Head of Machine Learning                     79039.000000
Business Data Analyst                        76691.200000
Data Science Engineer                        75803.333333
BI Data Analyst                              74755.166667
Data Science Consultant                      69420.714286
AI Scientist                                 66135.571429
Data Analytics Engineer                      64799.250000
Finance Data Analyst                         61896.000000
ETL Developer                                54957.000000
Big Data Engineer                            51974.000000
Computer Vision Engineer                     44419.333333
NLP Engineer                                 37236.000000
Product Data Analyst                         13036.000000
3D Computer Vision Researcher                 5409.000000
Name: salary_in_usd, dtype: float64

Task 2:Data Scientist mang quốc tịch nào có mức lương trung bình cao nhất
Nếu tạm coi employee_residence là quốc tịch thì DS mang quốc tịch Mỹ có mức lương trung bình cao nhất

In [12]:
highest_paid_ds = df[df['job_title'] == 'Data Scientist'].groupby('employee_residence')['salary_in_usd'].mean()
highest_paid_ds.sort_values(ascending=False, inplace=True)
highest_paid_ds

employee_residence
US    149408.333333
CH    122346.000000
SG    119059.000000
DZ    100000.000000
AT     91237.000000
GB     88177.363636
AU     86703.000000
CA     81489.166667
DE     74773.714286
GR     68428.000000
BR     56450.500000
FR     51665.625000
NG     50000.000000
RU     48000.000000
PH     45760.000000
ES     41136.666667
CL     40038.000000
JP     40000.000000
HU     35735.000000
PL     35590.000000
RS     25532.000000
IN     23838.333333
IT     21669.000000
TR     20171.000000
UA     13400.000000
VN      4000.000000
MX      2859.000000
Name: salary_in_usd, dtype: float64

Task 3: Hiện không xác định được feature cần thiết để tính toán phần này nên em bỏ qua task 3

Task 4: Mức lương trung bình của Data Engineer (SE level) ở các công ty nhỏ và vừa ở USA

In [15]:
df['job_title'].unique()

array(['Data Scientist', 'Machine Learning Scientist',
       'Big Data Engineer', 'Product Data Analyst',
       'Machine Learning Engineer', 'Data Analyst', 'Lead Data Scientist',
       'Business Data Analyst', 'Lead Data Engineer', 'Lead Data Analyst',
       'Data Engineer', 'Data Science Consultant', 'BI Data Analyst',
       'Director of Data Science', 'Research Scientist',
       'Machine Learning Manager', 'Data Engineering Manager',
       'Machine Learning Infrastructure Engineer', 'ML Engineer',
       'AI Scientist', 'Computer Vision Engineer',
       'Principal Data Scientist', 'Data Science Manager', 'Head of Data',
       '3D Computer Vision Researcher', 'Data Analytics Engineer',
       'Applied Data Scientist', 'Marketing Data Analyst',
       'Cloud Data Engineer', 'Financial Data Analyst',
       'Computer Vision Software Engineer',
       'Director of Data Engineering', 'Data Science Engineer',
       'Principal Data Engineer', 'Machine Learning Developer',
       'Applied Machine Learning Scientist', 'Data Analytics Manager',
       'Head of Data Science', 'Data Specialist', 'Data Architect',
       'Finance Data Analyst', 'Principal Data Analyst',
       'Big Data Architect', 'Staff Data Scientist', 'Analytics Engineer',
       'ETL Developer', 'Head of Machine Learning', 'NLP Engineer',
       'Lead Machine Learning Engineer', 'Data Analytics Lead'],
      dtype=object)

In [26]:
filtered_df =  df[df['job_title'].str.contains('Data Engineer', case = False, na = False)]
filtered_df = filtered_df[(filtered_df['experience_level'] == 'SE') & 
            (filtered_df['company_location'] == "US") & (filtered_df['company_size'] != "L")]

filtered_df['salary_in_usd'].mean()

142639.38

Task 5: So sánh mức lương của Data Scientist ở USA ở các mức trình độ (experience_level) khác nhau

Experience SE có mức lương cao nhất, ngược lại level EN có mức lương thấp nhất

In [28]:
salary_ds_usa = df[(df['employee_residence'] == 'US') & (df['job_title'] == 'Data Scientist')]
salary_ds_usa = salary_ds_usa.groupby('experience_level')['salary_in_usd'].mean()
salary_ds_usa.sort_values(ascending=False, inplace=True)
salary_ds_usa

experience_level
SE    166796.078431
MI    124488.095238
EN     88833.333333
Name: salary_in_usd, dtype: float64

Task 6:Nhân sự là người nước ngoài chiếm tỉ lệ bao nhiêu phần trăm ở các công ty lớn ở USA

In [37]:
foreign_employees = df[(df['company_size'] == "L") & 
                       (df['employee_residence'] != 'US') & 
                       (df['company_location'] == 'US')]['company_location'].count()
native_employees = df[(df['company_size'] == "L") & 
                       (df['employee_residence'] == 'US') & 
                       (df['company_location'] == 'US')]['company_location'].count()
result = (foreign_employees /(foreign_employees + native_employees)) * 100

print(round(result,2))

7.55

Task 7:Tìm ra 3 job title có mức lương trung bình cao nhất ở level MI dành cho nhân sự trong nước